body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  *{
    box-sizing: border-box;
  }
  :root{
    --black: #000000;
    --primary-dark: #30231d;
    --primary-medium: #6a5750;
    --transperent-black: rgba(0,0,0,.3);
    --grey-dark: #333333;
    --grey-medium: #555555;
    --grey-light: #999999;
    --white: #ffffff;
  }
  
  *,
  *::after,
  *::before {
      margin: 0;
      padding: 0;
      box-sizing: inherit;
  }
  
  html {
      font-size: 62.5%; 
  }
  @media screen and (max-width: 700px) { 
    html {
      font-size: 48.25%; 
    }
  }
  
  @media screen and (max-width: 1200px) { 
    html {
      font-size: 56.25%; 
    }
  }
  
  @media screen and (max-width: 900px) { 
    html {
      font-size: 50%; 
    }
  }
  
  @media screen and (min-width: 1210px) {
    html {
      font-size: 75%; 
    }
  }
  
  

.main-header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 6rem;
    color: white;
    background-color: transparent;
    position: fixed;
    z-index: 100;
}

.header_nav{
    display: flex;
    align-items: center;
}

.header_nav-list{
    display: flex;
    list-style: none;
    align-items: center;
}

.header-tabs{
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 5rem;
    height: 100%;
    box-sizing: border-box;
}
.header-tabs ul{
    list-style: none;
    display: flex;
    height: 100%;
    box-sizing: border-box;
}
.header-tabs ul li{
    display: flex;
    box-sizing: border-box;
}

.header-tabs__text,
.header-tabs__text:link{
    font-size: 2rem;
    padding: 0rem 0rem;
    margin: 0rem 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    border-bottom: 3px solid transparent;
}

.header-tabs__text:active,.header-tabs__text:visited {
    border-bottom: 4px solid rgb(255,46,115);
    box-sizing: border-box;
}

.logo{
    padding: 0 2rem;
    display: flex;
}
.logo__text{
    font-size: 2rem;
}

.nav-item{
    display: flex;
    align-items: center;
    padding: 0 2rem;
}
.cart{
    padding: 0 2rem;
    font-size: 2rem;
}

.nav-item__text{
    font-size: 1.5rem;
    padding-left: 1rem;
}
.nav-item__icon{
    font-size: 1.5rem;
}


.section-greetings{
    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.8),rgba(0,0,0,0.2)),url("https://images.pexels.com/photos/1268558/pexels-photo-1268558.jpeg?cs=srgb&dl=celebrate-celebration-cheers-1268558.jpg&fm=jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.greetings-wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-greetings h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.greeting-description{
    color: white;
    font-size: 2rem;
    text-align: center;
}

.greeting-one{
    color: white;
    font-size: 8rem;
}
.greeting-two{
    color: rgb(250,195,122);
    font-size: 12rem;
    margin-top: -3rem;
}

.button{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    background-color: rgb(255,46,115);
    padding: 1.2rem 2rem;
    margin: 3rem;
}
.rounded{
    border-radius: 100px;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.3) ;
}

.download-animation{
    transform-origin: center 90%;
    animation: download .7s ease-in-out infinite;
    animation-direction: alternate;
}

@keyframes download{
    0%{
        transform: rotate(40deg);
    }
    100%{
        transform: rotate(-40deg);
    }
}

.eat-home{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: white;
}
.eat-home__content{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0rem 25rem;
}
.eat-home__image{
    flex-basis: 50%;
}
.eat-home__title{
    font-size: 5rem;
}
.eat-home__description{
    font-size: 1.7rem;
    line-height: 3.5rem;
    margin-top: 2rem;
}

.eat-home__button{
    margin-left: 0;
    padding: 1rem 4rem;
}

.eat-home__image{
    flex-basis: 50%;
    background-image: url("https://images.pexels.com/photos/247685/pexels-photo-247685.png?cs=srgb&dl=assorted-diet-edible-247685.jpg&fm=jpg");
    background-size: 900px 732px;
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: fixed;
}

.cult-home{
    width: 100%;
    height: 100vh;
    background-color: #000000;
}





.main-sections{
    display: flex;
    width: 100%;
    height: 100vh;
}

.sidebar{
    flex-basis: 18%;
    height: 100%;
    position: relative;
}

.sidebar__content{
    top: 8rem;
    position: sticky;
    height: 80%;
    border: 2px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin-left: 2rem;
}
.sidebar__nav{

}
.sidebar__nav a{
    text-decoration: none;
    color: white;
}
.sidebar__footer a{
    text-decoration: none;
    color: white;
}
.sidebar__footer{
    margin-top: 2rem;
}
.sidebar__nav-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    height: 6rem;
    padding: 4rem 0;
}
.sidebar__nav-item--avatar{
    background-color: rgb(255,46,115);
    border-radius: 100px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    transition: all .3s;
}
.sidebar__nav-item--title{
    font-size: 1.5rem;
    color: black;
    font-weight: 700;
    transition: all .3s;
}
.sidebar__nav-item--options{
    font-size: 1rem;
    color: black;
    transition: all .3s;
}
.nav-icon{
    font-size: 2rem;
}
.sidebar__nav-item:hover .sidebar__nav-item--title{
    color: rgb(255,46,115);
}
.sidebar__nav-item:hover .sidebar__nav-item--options{
    color: rgb(255,46,115);
}
.sidebar__nav-item:hover .sidebar__nav-item--avatar{
    transform: scale(1.2);
    box-shadow: 0 0 1rem rgba(0,0,0,.4);
}



.sidebar__nav-item:active{
    background-color: rgb(255,46,115);
}
.sidebar__nav-item:active .sidebar__nav-item--title{
    color: white;
}
.sidebar__nav-item:active .sidebar__nav-item--options{
    color: white;
}
.sidebar__nav-item:active .sidebar__nav-item--avatar{
    background-color: white;
}
.sidebar__nav-item:active .nav-icon{
    color:rgb(255,46,115);
}




.sections-list{
    padding: 5rem;
}
.section-title{
    padding: 3rem 0;
    font-size: 2.5rem;
}
.sections-list{
    flex-basis: 82%;
}

.section-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem,1fr));    
}
.section-grid-item{
    border: 1px solid transparent;
    transition: all .2s;
}
.section-grid-item:hover{
    border: 1px solid #ccc;
    box-shadow: 0 0px 7px rgba(0,0,0,.2);
}
.section-grid-item__wrapper{
    margin: 1.8rem;
}
.section-grid-item__image{
    display: block;
    width: 100%;
}
.section-grid-item__title{
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 1.2rem;
}
.section-grid-item__recipes{
    font-size: 1rem;
    color: grey;
    margin-top: .5rem;
}
.section-grid-item__rating-box{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
    border-bottom: 1px solid #ccc;
}
.rating{
    display: flex;
    align-items: center;
    background-color: green;
    color: white;
    padding: 3px 5px;
    border-radius: 2px;
}
.rating-icon{
    font-size: .8rem;
}
.rating-text{
    font-size: .8rem;
    margin: 0 3px;
}
.dot{
}
.time{
    color: grey;
}
.rate{
    color: grey;
}
.offer{
    display: flex;
    padding: 1rem 0 1rem 0;
    border-bottom: 1px solid #ccc;
    align-items: center;
}
.offer-icon{
    background: #30231d;
    border-radius: 100px;
    padding: .5rem;
    color: white;
    font-size: .6rem;
}
.offer-text{
    color: #30231d;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0 1rem;    
}

.outlets{
    display: flex;
    padding: 1rem 0 0 0;
    align-items: center;
    justify-content: space-between;
}
.outlets-text{
    color: grey;
    font-weight: 600;
}
.outlets-quick-view{
    text-decoration: none;
    color: lightskyblue;
    font-weight: 800;
}