body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  *{
    box-sizing: border-box;
  }
  :root{
    --black: #000000;
    --primary-dark: #30231d;
    --primary-medium: #6a5750;
    --transperent-black: rgba(0,0,0,.3);
    --grey-dark: #333333;
    --grey-medium: #555555;
    --grey-light: #999999;
    --white: #ffffff;
  }
  
  *,
  *::after,
  *::before {
      margin: 0;
      padding: 0;
      box-sizing: inherit;
  }
  
  html {
      font-size: 62.5%; 
      scroll-behavior: smooth;
  }
  @media screen and (max-width: 700px) { 
    html {
      font-size: 48.25%; 
    }
  }
  
  @media screen and (max-width: 1200px) { 
    html {
      font-size: 56.25%; 
    }
  }
  
  @media screen and (max-width: 900px) { 
    html {
      font-size: 50%; 
    }
  }
  
  @media screen and (min-width: 1210px) {
    html {
      font-size: 75%; 
    }
  }
  
  

.main-header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 6rem;
    color: white;
    background-color: transparent;
    position: fixed;
    z-index: 100;
}

.header_nav{
    display: flex;
    align-items: center;
}

.header_nav-list{
    display: flex;
    list-style: none;
    align-items: center;
}

.header-tabs{
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 5rem;
    height: 100%;
    box-sizing: border-box;
}
.header-tabs ul{
    list-style: none;
    display: flex;
    height: 100%;
    box-sizing: border-box;
}
.header-tabs ul li{
    display: flex;
    box-sizing: border-box;
}

.header-tabs__text,
.header-tabs__text:link{
    font-size: 2rem;
    padding: 0rem 0rem;
    margin: 0rem 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    border-bottom: 3px solid transparent;
}

.header-tabs__text:active,.header-tabs__text:visited {
    border-bottom: 4px solid rgb(255,46,115);
    box-sizing: border-box;
}

.logo{
    padding: 0 2rem;
    display: flex;
}
.logo__text{
    font-size: 2rem;
}

.nav-item{
    display: flex;
    align-items: center;
    padding: 0 2rem;
}
.cart{
    padding: 0 2rem;
    font-size: 2rem;
}

.nav-item__text{
    font-size: 1.5rem;
    padding-left: 1rem;
}
.nav-item__icon{
    font-size: 1.5rem;
}


.section-greetings{
    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.8),rgba(0,0,0,0.2)),url("https://images.pexels.com/photos/1268558/pexels-photo-1268558.jpeg?cs=srgb&dl=celebrate-celebration-cheers-1268558.jpg&fm=jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.greetings-wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-greetings h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.greeting-description{
    color: white;
    font-size: 2rem;
    text-align: center;
}

.greeting-one{
    color: white;
    font-size: 8rem;
}
.greeting-two{
    color: rgb(250,195,122);
    font-size: 12rem;
    margin-top: -3rem;
}

.button{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    background-color: rgb(255,46,115);
    padding: 1.2rem 2rem;
    margin: 3rem;
}
.rounded{
    border-radius: 100px;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.3) ;
}

.download-animation{
    transform-origin: center 90%;
    animation: download .7s ease-in-out infinite;
    animation-direction: alternate;
}

@keyframes download{
    0%{
        transform: rotate(40deg);
    }
    100%{
        transform: rotate(-40deg);
    }
}

.eat-home{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: white;
}
.eat-home__content{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0rem 25rem;
}
.eat-home__image{
    flex-basis: 50%;
}
.eat-home__title{
    font-size: 5rem;
}
.eat-home__description{
    font-size: 1.7rem;
    line-height: 3.5rem;
    margin-top: 2rem;
}

.eat-home__button{
    margin-left: 0;
    padding: 1rem 4rem;
}

.eat-home__image{
    flex-basis: 50%;
    background-image: url("https://images.pexels.com/photos/247685/pexels-photo-247685.png?cs=srgb&dl=assorted-diet-edible-247685.jpg&fm=jpg");
    background-size: 900px 732px;
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: fixed;
}

.cult-home{
    width: 100%;
    height: 100vh;
    background-color: #000000;
}





.main-sections{
    display: flex;
    width: 100%;
}

.sidebar{
    flex-basis: 18%;
    
}

.sidebar__content{
    top: 8rem;
    position: sticky;
    border: 2px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin-left: 2rem;
    padding: 5rem 0;
}
.sidebar__nav{

}
.sidebar__nav-link{
    text-decoration: none;
    color: white;
}
.sidebar__footer a{
    text-decoration: none;
    color: white;
}
.sidebar__footer{
    margin-top: 2rem;
}
.sidebar__nav-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    height: 6rem;
    padding: 4rem 0;
}
.sidebar__nav-item--avatar{
    background-color: rgb(255,46,115);
    border-radius: 100px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    transition: all .3s;
}
.sidebar__nav-item--title{
    font-size: 1.5rem;
    color: black;
    font-weight: 700;
    transition: all .3s;
}
.sidebar__nav-item--options{
    font-size: 1rem;
    color: black;
    transition: all .3s;
}
.nav-icon{
    font-size: 2rem;
}


.sidebar__nav-link,.sidebar__nav-link:link{
    text-decoration: none;
    color: white;
}

.sidebar__nav-link:visited{
    text-decoration: none;
    color: white;
}

.sidebar__nav-link:hover{
    text-decoration: none;
    color: white;
}

.sidebar__nav-link:active{
    text-decoration: none;
    color: white;
}


.sidebar__nav-item:hover .sidebar__nav-item--title{
    color: rgb(255,46,115);
}
.sidebar__nav-item:hover .sidebar__nav-item--options{
    color: rgb(255,46,115);
}
.sidebar__nav-item:hover .sidebar__nav-item--avatar{
    transform: scale(1.2);
    box-shadow: 0 0 1rem rgba(0,0,0,.4);
}



.sidebar__nav-link:active{
    background-color: rgb(255,46,115);
}
.sidebar__nav-link:active .sidebar__nav-item--title{
    color: white;
}
.sidebar__nav-link:active .sidebar__nav-item--options{
    color: white;
}
.sidebar__nav-link:active .sidebar__nav-item--avatar{
    background-color: white;
}
.sidebar__nav-link:active .nav-icon{
    color:rgb(255,46,115);
}

.sidebar__nav-item:target{
    background-color: rgb(255,46,115);
}




.sections-list{
    padding: 5rem 5rem 0 5rem;
}
.section-title{
    padding: 3rem 0;
    font-size: 2.5rem;
}
.sections-list{
    flex-basis: 82%;
    height: auto;
}

.section{
}
.section-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem,1fr)); 
    grid-gap: 1rem;
    grid-auto-rows: min-content;   
}

.section-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem,1fr)); 
  }
  .one{
    padding:10px;
    border: 1px solid grey;
    transition: all .2s;
    background-color: white;
  }

.section-grid-item{
    border: 1px solid transparent;
    transition: all .2s;
    background-color: white;
}
.section-grid-item:hover{
    border: 1px solid #ccc;
    box-shadow: 0 0px 7px rgba(0,0,0,.2);
}
.section-grid-item__wrapper{
    margin: 1.8rem;
}
.section-grid-item__image{
    display: block;
    width: 100%;
}
.section-grid-item__title{
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 1.2rem;
}
.section-grid-item__recipes{
    font-size: 1rem;
    color: grey;
    margin-top: .5rem;
}
.section-grid-item__rating-box{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
    border-bottom: 1px solid #ccc;
}
.rating{
    display: flex;
    align-items: center;
    background-color: green;
    color: white;
    padding: 3px 5px;
    border-radius: 2px;
}
.rating-icon{
    font-size: .8rem;
}
.rating-text{
    font-size: .8rem;
    margin: 0 3px;
}
.dot{
}
.time{
    color: grey;
}
.rate{
    color: grey;
}
.offer{
    display: flex;
    padding: 1rem 0 1rem 0;
    border-bottom: 1px solid #ccc;
    align-items: center;
}
.offer-icon{
    background: #30231d;
    border-radius: 100px;
    padding: .5rem;
    color: white;
    font-size: .6rem;
}
.offer-text{
    color: #30231d;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0 1rem;    
}

.outlets{
    display: flex;
    padding: 1rem 0 0 0;
    align-items: center;
    justify-content: space-between;
}
.outlets-text{
    color: grey;
    font-weight: 600;
}
.outlets-quick-view{
    text-decoration: none;
    color: lightskyblue;
    font-weight: 800;
}

.test{
    width: 100%;
    height: 50vh;
}


.restaurant__details{
    display: flex;
    align-items: center;
    background-color: rgb(40,44,63);
}
.restaurant__image-box{
    width: 25rem;
    margin: 3rem;
    margin-left: 5rem;
}
.restaurant__image{
    display: block;
    width: 100%;
}
.restaurant__name{
    color: white;
    font-size: 2rem;
    font-weight: 600;
}
.restaurant__address{
    color: rgba(255,255,255,.5);
    font-size: 1.3rem;
}
.restaurant__tagline{
    color: rgba(255,255,255,.5);
    font-size: 1.3rem;
    margin-top: .5rem;
}
.delivery{
    display: flex;
    margin-top: 1rem;
    justify-content: flex-start;
}
.delivery__rating--text{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}
.delivery__rating--icon{
    color: white;
    font-size: 1.2rem;
    margin-right: .3rem;
}

.delivery__rating{
    padding: 0 2rem;
}


.delivery__rating:first-child{
    padding-right: 2rem;
    padding-left: 0;
}

.delivery__rating:not(:last-child){
    border-right: 1px solid rgba(255,255,255,.5);
}

.delivery__rating--tagline{
    color: rgba(255,255,255,.5);
    font-size: 1.1rem;
    margin-top: .5rem;
}

.delivery__rating--text-box{
    display: flex;
    align-items: center;
}












.restaurant__main{
    display: flex;
}
.restaurant__menu{
    flex-basis: 70%;
}
.restaurant__menu{
}




.restaurant__menu--nav{
    display: flex;
    margin: 1rem 5rem;
    align-items: center;
    background-color: white;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 0 3px #ccc;
    padding: 0 .5rem;
}
.restaurant__menu--nav-left_arrow,.restaurant__menu--nav-right_arrow{
    font-size: 3rem;
    color: rgb(255,46,115);
}
.restaurant__menu--nav-items{
    margin-right: auto;
    display: flex;
    align-items: center;
}

.restaurant__menu--nav-item,.restaurant__menu--nav-item:link{
    padding: 1rem 1rem;
    margin: 0 .2rem;
    text-decoration: none;
    font-size: 1.7rem;
    color: black;
    border-bottom: 3px solid transparent;
}

.restaurant__menu--nav-item:hover{
    border-bottom: 3px solid grey;
}
.restaurant__menu--nav-item:active,.restaurant__menu--nav-item:visited{
    border-bottom: 3px solid rgb(255,46,115);
}
.restaurant__menu--nav-search{
    background-color: #f1f1f1;
    align-self: stretch;
    margin: .5rem 0 .5rem .5rem;
    border: 1px solid #eee;
    border-radius: 5px;    
    display: flex;
    align-items: center;
    padding: 0 .5rem;
    color: grey;
}
.restaurant__menu--nav-search__icon{
    color: inherit;
    font-size: 1.2rem;
}
.restaurant__menu--nav-search__input{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1.5rem;
    color: inherit;
}






.restaurant__menu__list{
    margin: 0 5rem;
}
.restaurant__menu__section{
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 0 3px #ccc;
    margin-top: 2rem;
}
.restaurant__menu__section--title{
    font-size: 2rem;
    padding: .5rem;
    border-bottom: 1px solid #eee;
}
.restaurant__menu__section--item{
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #eee;
}
.restaurant__menu__section--item-icon{
    color: green;
    font-size: 1.5rem;
    padding: .8rem .5rem .5rem .5rem;
}
.restaurant__menu__section--item-details{
    margin-left: .5rem;
    margin-right: auto;
}
.restaurant__menu__section--item-title{
    font-size: 1.8rem;
    padding-top: .5rem
}
.restaurant__menu__section--item-price{
    font-size: 1.3rem;    
}
.restaurant__menu__section--item-description{
    color: grey;
    padding: .3rem;
}
.restaurant__menu__section--item-customization{
    color: #30231d;
    padding: 0rem 0 .8rem 0;;
}

.restaurant__menu__section--item__add{
    border: 1px solid #ccc;
    background-color: transparent;
    border-radius: 1px;
    align-self: center;
    padding: .5rem 2rem;
    margin-right: 1rem;
    color: green;
    font-weight: bold;
    cursor: pointer;
}


.restaurant__cart{
    flex-basis: 30%;
}
.restaurant__cart__wrapper{
    top: 0;
    width: 80%;
    margin: 2rem 2rem 2rem 0;
    height: 50vh;
    position: sticky;
}
.restaurant__cart__title{
    font-size: 2.5rem;
    font-weight: 700;
}
.restaurant__cart__total-items{
    color: grey;
}
.restaurant__cart__items{
    margin: 2rem 0;
    max-height: 15rem;
    overflow-y: scroll;
}
.restaurant__cart__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}
.restaurant__cart__item__type-icon{
    color: green;
    align-self: flex-start;
    padding:.4rem 0;
}
.restaurant__cart__item__recipe{
    flex-grow: 1;
    font-size: 1.3rem;
    padding: 0 .5rem;
    align-self: flex-start;
}
.restaurant__cart__item__add-remove-box{
    display: flex;
    align-items: center;
    color: green;
    justify-content: space-between;
    border: 1px solid green;
    padding: .5rem 1rem;;
    margin: 0 1rem;
}
.restaurant__cart__item__add-remove-box  *{
    padding: .2rem .4rem;
}

.restaurant__cart__total-price{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 1rem;
}
.restaurant__cart__total-price__text{

}
.restaurant__cart__extra-charges{
    color: grey;
    font-weight: 600;
}
.restaurant__cart__checkout-button{
    outline: none;
    background-color: green;
    text-align: center;
    padding: 1rem 6rem;
    border: none;
    color: white;
    font-weight: 800;
    margin-top: 2rem;
}
.restaurant__cart__item__price{
    font-size: 1.2rem;
    padding-left: 1rem;
}

























.auth__main{
}
.auth__main__backdrop{
    position: fixed;
    left: 0;
    top: 0;
    background-image: radial-gradient(circle at 51% 45%,#2d3b47,#0e1017);
    width: 100%;
    height: 100vh;
}
.auth__modal{
    position: absolute;
    width: 33rem;
    background-color: white;
    border-radius: 5px;
    padding: 2rem 0;
    margin: 4rem auto;
    z-index: 100;
    left: 50%;
    transform: translate(-50%);
}



.login__main{
    position: relative;
    padding: 3rem;
}
.login__close{
    position: absolute;
    right: 0;
    top: 0;
    margin: 0rem 1rem 0 0;
    font-size: 1.5rem;
}
.login__logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login__logo_image{

}
.login__logo__title{
    display: block;
    font-size: 3rem;
    width: 80%;
    text-align: center;
    margin: 1.5rem 0;
}
.login__google,.login__facebook{
    text-align: center;
    background-color: rgb(224,83,67);
    border-radius: 100px;
    padding: 1rem 0;
    color: white;
    margin-top: 1.5rem;
}
.login__google span,.login__facebook span{
    padding-left: 2rem;
}
.login__facebook{
    background-color: rgb(62,88,164);
}
.login__actions{
    display: flex;
    margin-top: 1.5rem;
}
.login__actions *{
    text-align: center;
    flex-basis: 50%;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem 0;
}
.login__actions *:first-child{
    border-right: 1px solid grey;
}
.login__terms{
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}
.login__terms__icon{
    color: green;
    font-size: 1.5rem;
}
.login__terms__text{
    color: grey;
    padding-left: 1rem;
}



.auth__login{
    position: relative;
    padding: 0 3rem;
}
.auth__login__input{
    display: block;
    width: 100%;
    height: 3rem;
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    font-size: 1.3rem;
    margin-top: 2.5rem;
}
.auth__submit__box{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem;
}
.auth__forgot__password{
    color: black;
}

.auth__submit{
    color: white;
    font-size: 1.2rem;
    background-color: rgb(255,46,115);
    padding: 1rem 3rem;
    border: none;
    outline: none;
}
.auth__login__back{
    color: rgb(255,46,115);
    font-size: 2rem;
}





























.checkout{
    width: 100%;
    height: 100vh;
    background-color: #f7f7f7;
}
.checkout__wrapper{
    display: flex;
    align-items: flex-start;
    position: absolute;
    width: 65%;
    z-index: 100;
    left: 50%;
    transform: translate(-50%);

}
.checkout__backdrop{
    position: fixed;
    left: 0;
    top: 0;
    background-color: #f7f7f7;
    width: 100%;
    height: 100vh;
}

.checkout__payment{
    background-color: white;
    border: 1px solid #f1f1f1;
    flex-basis: 70%;
    border-radius: 5px;
    padding: 1.5rem;
    margin: 1rem 1rem 0 0;
}
.checkout__payment__title{
    font-size: 2.2rem;
    font-weight: 600;
}
.checkout__payment__wallet{
    margin-top: 1.5rem;
}
.checkout__payment__wallet__selection{

}
.checkout__payment__wallet__list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(13rem,1fr));
    margin-top: 1rem;
}
.checkout__payment__wallet__list__item{
    border: 2px solid green;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 4px #ccc;
}
.checkout__payment__wallet__list__item__image-box{
    width: 6rem;
}
.checkout__payment__wallet__list__item__image{
    width: 100%;
}
.checkout__payment__wallet__list__item__title{
    font-size: 1.2rem;
}
.checkout__payment__wallet__list__item__balance{
    color: green;
    margin-bottom: 1rem;
}
.checkout__payment__wallet__details,.checkout__payment__cards__details{
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.checkout__payment__wallet__details__title{
    font-size: 1.5rem;
}
.checkout__payment__wallet__details__amount{
}
.checkout__payment__wallet__details__amount__box{
    display: flex;
    margin-top: 1rem;
    justify-content: flex-start;
}
.checkout__payment__wallet__details__amount__input{
    background-color: white;
    border: none;
    outline: none;
    border-radius: 3px;
    box-shadow: 0 0 3px #ccc;
    padding: .5rem 0;
    margin-left: .5rem;
}
.checkout__payment__wallet__details__recharge__guideline{
    font-size: 1.2rem;
    margin-top: 1rem;
}
.checkout__payment__wallet__details__recharge__button{
    background-color: green;
    text-align: center;
    padding: .7rem 2rem;
    border-radius: 4px;
    color: white;
    margin-top: 1rem;
}

.checkout__payment__cards__details__row1{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.checkout__payment__cards__details__input__title{
    font-weight: 700;
    font-size: 1.3rem;
    color: rgba(0,0,0,.7);
}
.checkout__payment__cards__details__input{
    background-color: white;
    border: none;
    outline: none;
    border-radius: 3px;
    box-shadow: 0 0 3px #ccc;
    padding: 1rem .5rem;
    margin-top: .5rem;
    width: 100%;
}
.checkout__payment__cards__details__card-numer__wrapper{
    flex-basis: 50%;
}
.checkout__payment__cards__details__expiry-date__wrapper{
    flex-basis: 25%;
}
.checkout__payment__cards__details__expiry-date__wrapper input{
    width: 30%;
}
.checkout__payment__cards__details__cvv__wrappe{
    flex-basis: 25%;
}

.checkout__payment__cards__details__row2{
    width: 100%;
    margin-top: 1rem;
}
.checkout__payment__cards__details__row2 input{
    width: 49.5%;
}
.checkout__payment__cards__details__row2__input__wrapper{
    display: flex;
    justify-content: space-between;
}

.checkout__payment__cards__details__row3{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.checkout__payment__cards__details__row3__col1{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.checkout__payment__cards__details__row3__col2{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.checkout__payment__promocode__input{
    background-color: white;
    border: none;
    outline: none;
    border-radius: 3px;
    box-shadow: 0 0 3px #ccc;
    padding: 1rem .5rem;
    margin-top: .5rem;
}
.checkout__payment__promocode__apply{
    background-color: #ccc;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    margin-left: .5rem;
}

.checout__summery{
    flex-basis: 30%;
}
.checout__summery__details,.checout__summery__orders,.checout__summery__billing{  
    background-color: white;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    padding: 1.5rem;
    margin: 1rem 1rem 0 0;
}

.checout__summery__orders{
    min-height: 80rem;
}
.checout__summery__orders__title{
    font-size: 1.5rem;
    font-weight: 600;
}
.checout__summery__orders__list{
    margin: 1.2rem 0;
}
.checout__summery__orders__list__item{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}
.checout__summery__orders__list__item__col1{
    display: flex;
}
.checout__summery__orders__list__item__name{
    font-size: 1.5rem;
    margin-left: .5rem;
}
.checout__summery__orders__list__item__quantity{
    font-size: 1.1rem;
    margin-left: .5rem;
    color: grey;
}
.checout__summery__orders__list__item__price{
    color: grey;
    font-size: 1.1rem;
}
.checout__summery__billing{
    position: sticky;
    bottom: 0;
    width: 97%;
}
.checout__summery__billing__wrapper{
    display: flex;
    justify-content: space-between;
}
.checout__summery__billing__col1{
    display: flex;
    flex-direction: column;
}
.checout__summery__billing__col1{
    display: flex;
    flex-direction: column;
}
.checout__summery__billing__primary{
    color: grey;
    font-size: 1.3rem;
    text-align: right;
}
.checout__summery__billing__secondary{
    color: grey;
    font-size: 1rem;
    text-align: right;
}
.checout__summery__billing__col1 p{
    text-align: left;
}
.checout__summery__billing__total__bill{
    display: flex;
    justify-content: space-between;
}
