.Header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 6rem;
    color: var(--color-light);
    background-color: var(--header-background);
    position: fixed;
    z-index: 200;
    top: 0;
}